**/build/*
**/_build/*
/build/*
/_build/*

.pioenvs
.user
*.user
*.pyc
**/.DS_Store

*.bak
**/.bak

# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# session
Session.vim

# temporary
.netrwhist
*~

.idea

**/CMakeUserPresets.json
